{
  "openapi": "3.0.1",
  "info": {
    "title": "awow context fetch",
    "description": "Read-only fetch of markdown files from the public awow repository.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "paths": {
    "/repos/CauchyIO/awow/contents/{filePath}": {
      "get": {
        "operationId": "fetchAwowContext",
        "summary": "Fetch one repo file as raw markdown",
        "parameters": [
          {
            "name": "filePath",
            "in": "path",
            "required": true,
            "description": "Repo-relative file path. Encode each '/' as %2F, e.g. .agents%2Fcommands%2Frefinement-prep.md",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "required": false,
            "description": "Git ref to read from.",
            "schema": {
              "type": "string",
              "default": "main"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "Must be application/vnd.github.raw+json to receive raw file text.",
            "schema": {
              "type": "string",
              "default": "application/vnd.github.raw+json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Raw file content",
            "content": {
              "application/vnd.github.raw+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "File not found at this path/ref"
          }
        }
      }
    }
  }
}
